# Project

This is a construction-oriented game.

## Notes
  - `replace_in_file` always seems to fail due to a "diff edit mismatch". Use `write_to_file` instead.
  - Never use comments like "// Added new import" or "// Updated to new type" that explain how code is changing in any context.

## Tech Stack
  - Godot
  - GDScript, particularly for code that interacts with the Godot scene tree
  - Rust, particularly for complex tasks
  - GitHub for version control

## Project Structure
/scripts            # Scripts written in GDScript
/rust-scripts
  /src              # Scripts written in Rust
/scenes/main.tscn   # The main scene of the game

## Compiling
  - to check that GDScript files build, run `/snap/bin/godot-4 --check-only --script <path to script> --display-driver headless`
  - to check that the Rust files build, run `(cd rust-scripts && cargo build)`
  - to run Rust tests, run `(cd rust-scripts && cargo test)`