[
    (
      name: "Thatch",
      costs: {RoofLike: [(Straw, 3), (Timber, 1)]},
      fanciness: 0.0,
    ),
    (
      name: "Canvas",
      costs: {RoofLike: [(Canvas, 3), (Timber, 1)]},
      fanciness: 0.0,
    ),
    (
      name: "Staves",
      costs: {
      WallLike: [(Timber, 4)],
      PillarLike: [(Timber, 1)],
      // TODO: remove these for planks
      GroundFloorLike: [(Timber, 2)],
      CantileverFloorLike: [(Timber, 4)],
    },
    fanciness: 0.0,
    ),
    (
      name: "Fieldstone",
      costs: {
        WallLike: [(Fieldstone, 3), (Lime, 1)],
        GroundFloorLike: [(Fieldstone, 2)],
      },
      fanciness: 0.3,
    ),
    (
      name: "Plaster",
      costs: {
        WallLike: [(Timber, 1), (Lime, 3)],
      },
      fanciness: 0.3,
    ),
    (
      name: "Ashlar",
      costs: {
        WallLike: [(Block, 10)],
        PillarLike: [(Block, 1)],
        GroundFloorLike: [(Block, 4)]
      },
      fanciness: 1.0,
    )
]