[
    (
        name: "storage room",
        requirements: [
            (
                requirement: Furniture("bin"),
                min: 1,
                max: None,
                worker_visit_weight: 1.0,
                worker_visit_duration: 1.0,
            ),
        ],
        storage: Some((
            just_one_kind: false,
            accounting: (digits: 1, max: 100),
        )),
    ),
    (
        name: "bedroom",
        requirements: [
            (
                requirement: Furniture("pallet"),
                min: 1,
                max: Some(1),
                worker_visit_weight: 1.0,
                worker_visit_duration: 1.0,
            ),
        ],
        storage: None,
        assignable_for: Some(Sleep),
    ),
    (
        name: "market stand",
        requirements: [
            (
                requirement: Furniture("market stand"),
                min: 1,
                max: Some(1),
                worker_visit_weight: 1.0,
                worker_visit_duration: 1.0,
            ),
        ],
        storage: None,
    ),
]
