[
    (
        name: "storage room",
        requirements: [
            (
                structure: "bin",
                min: 1,
                max: None,
                worker_visit_weight: 1.0,
                worker_visit_duration: 1.0,
            ),
        ],
        storage: Some((
            just_one_kind: false,
            accounting: (digits: 1, max: 100),
        )),
    ),
    (
        name: "bedroom",
        requirements: [
            (
                structure: "pallet",
                min: 1,
                max: Some(1),
                worker_visit_weight: 1.0,
                worker_visit_duration: 1.0,
            ),
        ],
        storage: None,
    ),
    (
        name: "market stand",
        requirements: [
            (
                structure: "market stand",
                min: 1,
                max: Some(1),
                worker_visit_weight: 1.0,
                worker_visit_duration: 1.0,
            ),
        ],
        storage: None,
    ),
]
