[
    (
        name: "desk",
        main_mesh: "desk.gltf",
        y_cut_mesh: None,
        placement_style: RoomPlop,
        x_char: Some('V'),
        z_char: Some('V'),
        embedding: (
            tall: 0.3,
            passable: 0.5,
            decorative: 0.5,
            striated: 0.0,
        ),
    ),
    (
        name: "doorway",
        main_mesh: "doorway.gltf",
        y_cut_mesh: Some("doorway-cut-y-pos.gltf"),
        placement_style: WallDrag,
        x_char: Some('D'),
        z_char: Some('D'),
        embedding: (
            tall: 1.0,
            passable: 0.95,
            decorative: 0.0,
            striated: 0.0,
        ),
    ),
    (
        name: "window",
        main_mesh: "window.gltf",
        y_cut_mesh: Some("window-cut-y-pos.gltf"),
        placement_style: WallDrag,
        x_char: Some('W'),
        z_char: Some('W'),
        embedding: (
            tall: 1.0,
            passable: 0.0,
            decorative: 0.75,
            striated: 0.0,
        ),
    ),
    (
        name: "floor",
        main_mesh: "floor.gltf",
        y_cut_mesh: None,
        placement_style: FloorDrag,
        x_char: Some('#'),
        z_char: Some('#'),
        embedding: (
            tall: 0.0,
            passable: 1.0,
            decorative: 0.0,
            striated: 0.0,
        ),
    ),
    (
        name: "stairs",
        main_mesh: "stairs.gltf",
        y_cut_mesh: Some("stairs-cut-y-pos.gltf"),
        placement_style: RoomPlop,
        x_char: Some('S'),
        z_char: Some('S'),
        embedding: (
            tall: 1.0,
            passable: 1.0,
            decorative: 0.5,
            striated: 1.0,
        ),
    ),
    (
        name: "roof",
        main_mesh: "solid_roof.gltf",
        y_cut_mesh: None,
        placement_style: RoomPlop,
        x_char: Some('O'),
        z_char: Some('O'),
        embedding: (
            tall: 1.0,
            passable: 0.0,
            decorative: 0.7,
            striated: 0.0,
        ),
    ),
    (
        name: "wall",
        main_mesh: "wall.gltf",
        y_cut_mesh: Some("wall-cut-y-pos.gltf"),
        placement_style: WallDrag,
        x_char: Some('|'),
        z_char: Some('-'),
        embedding: (
            tall: 1.0,
            passable: 0.0,
            decorative: 0.0,
            striated: 0.0,
        ),
    ),
    (
        name: "railing",
        main_mesh: "railing.gltf",
        y_cut_mesh: Some("railing.gltf"),
        placement_style: WallDrag,
        x_char: Some('R'),
        z_char: Some('R'),
        embedding: (
            tall: 0.3,
            passable: 0.0,
            decorative: 0.5,
            striated: 1.0,
        ),
    ),
    (
        name: "column",
        main_mesh: "column.gltf",
        y_cut_mesh: None,
        placement_style: WallDrag,
        x_char: Some('P'),
        z_char: Some('P'),
        embedding: (
            tall: 1.0,
            passable: 0.8,
            decorative: 1.0,
            striated: 0.0,
        ),
    ),
    (
        name: "market stand",
        main_mesh: "market_stand.gltf",
        y_cut_mesh: None,
        placement_style: RoomPlop,
        x_char: Some('M'),
        z_char: Some('M'),
        embedding: (
            tall: 0.9,
            passable: 0.5,
            decorative: 0.3,
            striated: 0.3,
        ),
    ),
    (
        name: "rack",
        main_mesh: "rack.gltf",
        y_cut_mesh: None,
        placement_style: RoomPlop,
        x_char: None,
        z_char: None,
        embedding: (
            tall: 0.9,
            passable: 0.5,
            decorative: 0.0,
            striated: 0.5,
        ),
    ),
]
