[
    (
        name: "desk",
        placement_style: RoomPlop,
        x_char: Some('V'),
        z_char: Some('V'),
        embedding: (
            tall: 0.3,
            passable: 0.5,
            decorative: 0.5,
            striated: 0.0,
        ),
        furniture: Some([(Plank, 4)]),
        structure_type: Furniture,
    ),
    (
        name: "doorway",
        placement_style: WallDrag,
        x_char: Some('D'),
        z_char: Some('D'),
        embedding: (
            tall: 1.0,
            passable: 0.95,
            decorative: 0.0,
            striated: 0.0,
        ),
        structure_type: WallLike,
    ),
    (
        name: "window",
        placement_style: WallDrag,
        x_char: Some('W'),
        z_char: Some('W'),
        embedding: (
            tall: 1.0,
            passable: 0.0,
            decorative: 0.75,
            striated: 0.0,
        ),
        structure_type: WallLike,
    ),
    (
        name: "floor",
        placement_style: FloorDrag,
        x_char: Some('#'),
        z_char: Some('#'),
        embedding: (
            tall: 0.0,
            passable: 1.0,
            decorative: 0.0,
            striated: 0.0,
        ),
        structure_type: GroundFloorLike,
    ),
    (
        name: "stairs",
        placement_style: RoomPlop,
        x_char: Some('S'),
        z_char: Some('S'),
        embedding: (
            tall: 1.0,
            passable: 1.0,
            decorative: 0.5,
            striated: 1.0,
        ),
        structure_type: PillarLike,
    ),
    (
        name: "roof",
        placement_style: FloorDrag,
        x_char: Some('O'),
        z_char: Some('O'),
        embedding: (
            tall: 1.0,
            passable: 0.0,
            decorative: 0.7,
            striated: 0.0,
        ),
        structure_type: RoofLike,
    ),
    (
        name: "wall",
        placement_style: WallDrag,
        x_char: Some('|'),
        z_char: Some('-'),
        embedding: (
            tall: 1.0,
            passable: 0.0,
            decorative: 0.0,
            striated: 0.0,
        ),
        structure_type: WallLike,
    ),
    (
        name: "railing",
        placement_style: WallDrag,
        x_char: Some('R'),
        z_char: Some('R'),
        embedding: (
            tall: 0.3,
            passable: 0.0,
            decorative: 0.5,
            striated: 1.0,
        ),
        structure_type: PillarLike,
    ),
    (
        name: "column",
        placement_style: WallDrag,
        x_char: Some('P'),
        z_char: Some('P'),
        embedding: (
            tall: 1.0,
            passable: 0.8,
            decorative: 1.0,
            striated: 0.0,
        ),
        structure_type: PillarLike,
    ),
    (
        name: "market stand",
        placement_style: RoomPlop,
        x_char: Some('M'),
        z_char: Some('M'),
        embedding: (
            tall: 0.9,
            passable: 0.5,
            decorative: 0.3,
            striated: 0.3,
        ),
        furniture: Some([(Plank, 6)]),
        structure_type: Furniture,
    ),
    (
        name: "rack",
        placement_style: RoomPlop,
        x_char: None,
        z_char: None,
        embedding: (
            tall: 0.9,
            passable: 0.5,
            decorative: 0.0,
            striated: 0.5,
        ),
        furniture: Some([(Plank, 5)]),
        structure_type: Furniture,
    ),
    (
        name: "bin",
        placement_style: RoomPlop,
        x_char: None,
        z_char: None,
        embedding: (
            tall: 0.3,
            passable: 0.5,
            decorative: 0.0,
            striated: 0.0,
        ),
        furniture: Some([(Plank, 3)]),
        structure_type: Furniture,
    ),
    (
        name: "pallet",
        placement_style: RoomPlop,
        x_char: None,
        z_char: None,
        embedding: (
            tall: 0.1,
            passable: 0.5,
            decorative: 0.0,
            striated: 0.0,
        ),
        furniture: Some([(Straw, 2), (Canvas, 2)]),
        structure_type: Furniture,
    )
]
